<a href="https://colab.research.google.com/github/Ananya020720/bdhj/blob/main/Employee_Details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
employee_details =[]
num = int(input("Enter the number of Employees: "))
temp = {}

for i in range(1,num+1):
  print(f"Enter Employee {i} Details")
  temp["id"] = int(input("Enter Employee ID: "))
  temp["name"] = input("Enter Employee Name: ")
  temp["age"] = int(input("Enter Employee Age: "))
  temp["dept"] = input("Enter Department: ")
  temp["salary"] = int(input("Enter Salary: "))
  employee_details.append(temp)

print("\n--- Employee Details ---")
print(f"{'ID':<10} {'NAME':<15} {'AGE':<5} {'DEPARTMENT':<15} {'SALARY':<10}")
print("-" * 60)

for emp in employee_details:
    print(f"{emp['id']:<10} {emp['name']:<15} {emp['age']:<5} {emp['dept']:<15} {emp['salary']:<10.2f}")

Enter the number of Employees: 2
Enter Employee 1 Details
Enter Employee ID: 100
Enter Employee Name: ABC
Enter Employee Age: 30
Enter Department: Sales
Enter Salary: 30000
Enter Employee 2 Details
Enter Employee ID: 200
Enter Employee Name: CDB
Enter Employee Age: 30
Enter Department: 30000
Enter Salary: 30000

--- Employee Details ---
ID         NAME            AGE   DEPARTMENT      SALARY
------------------------------------------------------------
200        CDB             30    30000           30000.00
200        CDB             30    30000           30000.00